DOUBAO_API_KEY=
DEEPSEEK_API_KEY=
OPENAI_API_KEY=
N1N_API_KEY=


YUNRU_URL=http://[example].cpolar.top
LIBRA_URL=http://[example_sister].cpolar.top
LOCAL_URL_YUNRU=http://localhost:5001
LOCAL_URL_LIBRA=http://localhost:5000

BDSTT_APP_ID=
BDSTT_API_KEY=
BDSTT_SECRET_KEY=

AES_KEY=12345678901234567890123456789012

APP_API_KEY=mylibra_api_key
LOCAL_API_KEY=mylibra_api_key