YUNRU_URL=http://example.cpolar.top
LIBRA_URL=http://example2.cpolar.top
LOCAL_URL_YUNRU=http://localhost:5001
LOCAL_URL_LIBRA=http://localhost:5000

BDSTT_APP_ID=123456789
BDSTT_API_KEY=YourApiKey
BDSTT_SECRET_KEY=YourSecretKey

AES_KEY=1234567890123456789012

APP_API_KEY=mylibra_api_key
LOCAL_API_KEY=mylibra_api_key